<!-- Top Bar -->

<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (1)800-663-4063
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> info@allstar-show.com
        </div>
        <div class="col-md-4">
          It is {% now "jS F Y" %} <br>
          
        

            <a href="https://twitter.com/AllstarShowInd">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="http://www.facebook.com/allstarshowindustries">
              <i class="fab fa-facebook"></i>
            </a>
           
            
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>